<%= stylesheet_link_tag "/assets/styles/signin.css", :media => "all" %>
<div id="nav">
	<h1>TODO</h1>
	<a class="twitter" href="/auth/twitter"><div><span class="icon">t</span>Sign in with Twitter</div></a>
	<a class="github" href="/auth/github"><div><span class="icon">g</span>Sign in with Github</div></a>
</div>
