<!--<!DOCTYPE html>
<html lang="en" data-framework="backbonejs">
<head>
	<meta charset="UTF-8">
	<meta name="author" content="Kotaro Hirayama" href="humans.txt" />
	<meta name="robots" content="noindex, nofollow" />
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="format-detection" content="telephone=no" />
	<title>TODO by MARK</title>
	<link rel="stylesheet" href="/assets/styles/app.css"></head>
</head>
<body id="todoapp">-->
	<!-- adding logout tags -->
	<div id="user_nav">
		<% if current_user %>
		Welcome, <%= current_user.name %>!<br>
		<%= current_user.name %>さん <%= link_to "ログアウト" ,logout_path %>
		<% end %>
	</div>
	<!-- logout tags end-->
	
	<!--<section class="card today">
		<header class="header">
			<small class="date">TUESDAY MAY 6TH</small>
			<h2>TODAY</h2>
			<div class="add-button"></div>
		</header>
		<ul class="todo-list"></ul>
	</section>
	-->

	<script type="text/template" id="card-template">
	  <header class="header">
	    <small class="date">MONDAY FEBRUARY 6TH</small>
	    <h2>{{categoryName.toUpperCase()}}</h2>
	    <div class="add-button" data-category="{{category}}"></div>
	  </header>
	  <ul class="todo-list" data-category="{{category}}"></ul>
	</script>

	<script type="text/template" id="item-template">
		<label data-order={{order}}>{{content}}</label>
		<input class="edit" value="{{content}}" />
	</script>

	<script src="/assets/js/libs/controll.js"></script>
	<script src="/assets/js/libs/zepto.min.js"></script>
	<script src="/assets/js/libs/underscore.min.js"></script>
	<script>_.templateSettings = { interpolate : /\{\{(.+?)\}\}/g };</script>
	<script src="/assets/js/libs/backbone.js"></script>
	<script src="/assets/js/app.js"></script>
	<script src="/assets/js/ui.js"></script>
<!--</body>
</html>
-->